[Unit]
Description=BME280 MQTT Service
After=network-online.target

[Service]
User=root
#Restart=always
Type=simple
PIDFile=/run/bme280_mqtt.pid
ExecStart=/usr/bin/python3 /usr/local/bin/bme280_mqtt_daemon.py -d

[Install]
WantedBy=multi-user.target
