[Unit]
Description=BME280 MQTT Service
After=network.target

[Service]
User=root
#Restart=always
Type=simple
PIDFile=/var/run/bme280_mqtt.pid
ExecStart=/usr/bin/python3 /usr/local/bin/bme280-mqtt-daemon.py -d

[Install]
WantedBy=multi-user.target
